@media only screen and (min-width: 993px) {
    nav a.button-collapse {
        display: block;
    }
}

.filter-caption {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}

.devsite-search-form {
    background: $primary-color-light;
    border-radius: 2px;
    display: inline-block; // -ms-flex: 0 0 auto;
    // flex: 0 0 auto;
    height: 36px;
    margin: 6px 0 6px 24px;
    opacity: 1;
    position: relative;
    text-align: left;
    transition: background .2s, opacity .2s, width .2s;
    transition: background .2s, opacity .2s, width .2s, -ms-flex .2s;
    vertical-align: top;
    width: 200px;
    margin-right: 25px;
}

.devsite-billboard-search-active .devsite-search-form:not(.devsite-billboard-search),
.devsite-top-section-wrapper:not(.devsite-billboard-search-active) .devsite-billboard-search {
    opacity: 0;
    pointer-events: none;
    width: 0
}

.devsite-search-form:hover {
    background: $primary-color-light2
}

.devsite-search-form div.devsite-searchbox.focused {
    width: 100%;
}

.devsite-search-form.focused {
    width: 70%;
    position: absolute;
    left: 300px;
}

.devsite-search-image {
    color: #fff;
    left: 24px;
    position: absolute;
    top: 6px;
    transition: color .2s
}

.devsite-search-image::before {
    content: 'search'
}

input.devsite-search-field {
    background: 0;
    border: 0;
    color: #222;
    height: 36px;
    padding: 8px 8px 8px 55px;
    transition: color .2s;
    width: 100%;
    vertical-align: super;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 16px;
    line-height: 20px;
    font-family: Roboto, sans-serif;
}

.devsite-search-active .devsite-search-field {
    color: #212121
}

input.devsite-search-field:focus {
    border: 0;
    padding-bottom: 8px;
    outline: none;
}

.devsite-search-form ::-webkit-input-placeholder {
    color: #fff;
    transition: color .2s;
}

.devsite-search-form :-moz-placeholder {
    color: #fff;
    transition: color .2s
}

.devsite-search-form ::-moz-placeholder {
    color: #fff;
    transition: color .2s
}

.devsite-search-form :-ms-input-placeholder {
    color: #fff;
    transition: color .2s
}

.devsite-search-active .devsite-search-form ::-webkit-input-placeholder {
    color: #757575
}

.devsite-search-active .devsite-search-form :-moz-placeholder {
    color: #757575
}

.devsite-search-active .devsite-search-form ::-moz-placeholder {
    color: #757575
}

.devsite-search-active .devsite-search-form :-ms-input-placeholder {
    color: #757575
}

.devsite-search-button {
    margin: 12px 0
}

.devsite-search-button::before {
    content: 'search'
}

a.brand-logo,
a#logo-container {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    letter-spacing: -.01em;
}

h1 {
    font-size: 2.2em;
    line-height: 110%;
    margin: 0 0 0.5rem 0;
}

h2 {
    font-size: 2rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
}

h3 {
    font-size: 1.6rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
}

h4 {
    font-size: 1.4rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
}

h5 {
    font-size: 1.2rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
}

h6 {
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 110%;
    margin: 0.5rem 0 0.4rem 0;
}

$drawer-width: 350px;
@mixin left-column {
    background-color: color("grey", "lighten-3");
}

nav img#front-page-logo {
    height: 40px;
    vertical-align: middle;
}

main,
footer {
    padding-left: 350px;
}

.navbar-fixed {
    z-index: 1000;
}


/*nav, nav ul a {
    color: #222; 
}*/

ul#nav-mobile {
    margin-top: 51px;
}

ul#nav-mobile,
ul#nav-mobile.side-nav .collapsible-body,
.side-nav.fixed .collapsible-body {
    @include left-column;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
    ul#nav-mobile {
        margin-top: 56px;
    }
}

@media only screen and (min-width: 601px) {
    nav.nav-extended .nav-wrapper {
        min-height: 50px;
    }
    nav,
    nav .nav-wrapper i,
    nav a.button-collapse,
    nav a.button-collapse i {
        height: 50px;
        line-height: 50px;
    }
    .navbar-fixed {
        height: 50px;
    }
    ul#nav-mobile {
        margin-top: 52px;
    }
    body.admin-bar {
        ul#nav-mobile {
            margin-top: 84px;
        }
    }
}

#nav-mobile.side-nav li {
    @mixin stuff {
        background-color: rgba(243, 146, 55, 0.35); //        background-color: rgba(214, 50, 48, 0.35);
        //F39237
    }
    &:active {
        @include stuff;
    }
    >a {
        color: color("grey", "darken-3");
        &:hover {
            @include stuff;
        }
    }
}

nav {
    // Clean
    &.clean {
        background: none;
        box-shadow: none;
        padding-left: 10px;
    }
    .breadcrumb,
    .breadcrumb:before,
    .breadcrumb:last-child {
        color: $off-black;
        font-size: $h6-fontsize;
    }
}

li.topbanque {
    padding-left: 4px;
    p {
        padding-left: 4px;
    }
    img {
        vertical-align: sub;
    }
}

img.bank-nav {
    max-height: 48px;
}

ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 32px;
}

#nav-mobile li.search {
    //  position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    margin-top: 1px;
    color: #222;
    padding: 1px 0 0 0;
    z-index: 2
}

#nav-mobile li.search:hover {
    background-color: #fff
}

#nav-mobile li.search .search-wrapper {
    margin: 10px 12px;
    -webkit-transition: margin .25s ease;
    transition: margin .25s ease
}

#nav-mobile li.search .search-wrapper.focused {
    margin: 0
}

#nav-mobile li.search .search-wrapper input#search {
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 45px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 45px 0 15px;
    border: 0
}

#nav-mobile li.search .search-wrapper input#search:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

#nav-mobile li.search .search-wrapper i.material-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer
}

.collapsible-header:after {
    font-family: 'Material Icons';
    content: "\e315";
    float: right;
    color: #9e9e9e;
    font-size: 18px
}

.collapsible-header.active:after {
    content: "\e313";
}

aside.widget {
    figure {
        margin:0;
    }
}
.sidebar-posts {
    .card-panel {
        padding: 10px;
        h5 {
            margin-top: 0;
        }
        i.material-icons {
            vertical-align: bottom;
        }
    }
}

.widget-title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6rem;
    margin-bottom: 10px;
    padding: 10px 0;
    position: relative;
    text-transform: uppercase;
    border-bottom: 1px solid $primary-color;
    &:before {
        bottom: 0;
        content: '';
        display: inline-block;
        left: 0;
        position: absolute;
        text-transform: uppercase;
        width: 40%;
        border-bottom: 7px solid $primary-color;
    }
}

// .widget-title:before, .footer-wrapper .bn-title:before {
//     border-bottom: 7px solid #f13600;
// }